settings:
  title: '服务器状态'
  url: 'https://status-page.eidam.dev' # used for Slack messages
  logo: logo-192x192.png # image in ./public/ folder
  daysInHistogram: 30 # number of days you want to display in histogram
  collectResponseTimes: true # collects avg response times from CRON locations

  allmonitorsOperational: '所有系统正常'
  notAllmonitorsOperational: '存在异常'
  monitorLabelOperational: '运行中'
  monitorLabelNotOperational: '未运行'
  monitorLabelNoData: '无数据'
  dayInHistogramNoData: '无数据'
  dayInHistogramOperational: '全部正常'
  dayInHistogramNotOperational: ' incident(s)' # xx incident(s) recorded

monitors:
  - id: www.wcyicloud.lol # unique identifier
    name: X-UI-搬瓦工
    description: '' # default=empty You write code. They handle the rest.
    url: 'https://www.wcyicloud.lol' # URL to fetch
    method: GET # default=GET
    expectStatus: 200 # operational status, default=200
    followRedirect: false # should fetch follow redirects, default=false
    linkable: true # allows the title to be a link, default=true
